@import url(../../globals.css);

@media (max-width:1006px) {
    .circleBar {
        display: none;
    }

    .l1,
    .l2 {
        flex-wrap: wrap;
    }

    .hDiv1,
    .hDiv2,
    .l2_hdiv1,
    .l2_hdiv2 {
        flex-wrap: wrap;
    }

    .l2_hdiv2 {
        display: none !important;
    }


}

@media (max-width:853px) {
    .form_and_reviews {
        padding: 2rem !important;
    }

    .heroDiv {
        padding: 1rem 1rem !important;
    }

    .l1,
    .l2 {
        padding: 1rem 1rem !important;

    }

    .marquee,
    .reviewsDiv {
        display: none !important;
    }

    .heroDiv {
        flex-wrap: wrap;
        width: 100%;
    }

    .hDiv1 {
        flex: 1;

        span {
            min-width: 100% !important;
        }
    }

    .l1,
    .l2 {
        flex-wrap: wrap;
        min-width: 100% !important;
    }

    .l2 ul {
        gap: 0.5rem;
    }

    .exploreTag {
        font-size: 0.75rem !important;

    }

    .hDiv1,
    .hDiv2,
    .l2_hdiv1,
    .l2_hdiv2 {
        flex-wrap: wrap;
        width: 100%;
    }

    .l2_hdiv2 {
        display: flex !important;

        .l2_hdiv2_images {
            span {
                font-size: 0.8rem !important;
            }
        }
    }

    .formDiv {
        min-width: 100% !important;
    }

    .hDiv1,
    .l1 {
        padding-top: 0 !important;

        span {
            font-size: 1rem !important;
        }

        h1 {
            font-size: 1.25rem !important;
            max-width: unset !important;
        }
    }
}

@media (max-width:40em) {
    .form_and_reviews {
        flex-direction: column-reverse;

    }
}

.heroDiv {
    margin-bottom: 2rem;
    overflow: hidden;
    display: flex;
    padding: 1rem 1.618rem;
    position: relative;


}


.l1,
.l2 {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    padding: 1rem 1.618rem;
    gap: 1rem;
}

.l1 {
    flex: 0.4;
    /* justify-content: end; */
    position: relative;

    * {

        &:hover,
        &:focus,
        &:focus-visible,
        &:focus-visible,
        &:focus-within,
        &:active {
            outline: none;
        }
    }

}

.l2 {
    flex: 0.6
}

/* hero text content */
.heroTextContent {
    padding: 1.5rem 1rem 2rem 0;
    flex: 0.4;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.heroTextTagline {
    font-weight: 600;
    font-size: 1.25rem;
    max-width: 30ch;
    color: rgba(50, 50, 50, 0.845);
    text-transform: capitalize;
}

.heroTextTitle {
    margin-top: -12px;
    font-size: 2.125rem;
    max-width: 24ch;
    text-transform: capitalize;
}

.heroTextDesc {
    color: rgba(50, 50, 50, 0.745);
}

.heroTextLink {
    max-width: fit-content;
    text-decoration: none;
    color: var(--fg);
    padding: 0.35rem 1.25rem;
    border-radius: 10dvw;
    /* background: plum; */
    border: 1px solid var(--bg-faded);
    position: relative;
    background: var(--bg);
    transition: all 0ms;


    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-visible,
    &:focus-within,
    &:active {
        padding-inline: 1.25rem !important;
        border: 1px solid rgb(255, 255, 255);
        background: var(--fg);
        color: var(--bg);

        background: var(--bg-grd);
        animation: rotateBg 5s linear infinite alternate-reverse;
        background-size: 800%;
    }
}

/* hero form and reviews */
.form_and_reviews {
    padding: 1rem 2rem;
    min-width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    border-radius: 20px;
    position: relative;

    display: flex;
    justify-content: space-between;
    gap: 1rem;

    align-items: start;

}

/* hero cards */
.heroCards {
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    gap: 1rem;
}

.heroCardWrapper {
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-radius: 20px;
    min-height: 150px !important;
    padding: 1rem;
    position: relative;
    gap: 1rem;
}

.bgLayer {
    background-position: center left !important;
    border-radius: 20px;
    position: absolute;
    inset: 0;
    background-size: cover !important;
}

.heroCardText {
    font-size: 1.25rem;
    z-index: 1;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;

    color: black;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: inline;
}