@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: blue;
    --fg-primary: dodgerblue;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-primary: white;
    --fg-primary: black;
  }
}