@import url(../../globals.css);

@media (max-width:716px) {

    /* header component  */
    .headerDiv {
        padding: 1rem 2rem !important;
    }

    /* second child => portfolio button */
    .navBarUlItem:nth-child(2) {
        display: none !important;
    }

    /* loginButton */
    .loginBtn {
        display: none !important;
    }

    /* nav elements font size */
    .navBarUlItemLink,
    .navBarUlItemLink_C {
        font-size: 0.75rem !important;
    }
}


.headerDiv {
    margin-top: 0.5rem;
    padding: 1rem 3.236rem;

    * {

        &:hover,
        &:focus,
        &:focus-visible,
        &:focus-visible,
        &:focus-within,
        &:active {
            outline: none;
        }
    }
}

.logo {
    position: relative;
    border-radius: 10dvw;
    font-family: logofont;
    font-size: 2rem;
    text-transform: capitalize;
}

.navBarUlItem,
.loginBtn {
    font-weight: 500;
    padding: 0.35rem 1.25rem;
    border-radius: 10dvw;
    border: 1px solid var(--bg-faded);
    position: relative;
    color: var(--fg);
    cursor: pointer;

    text-transform: capitalize !important;

    &:hover,
    &:focus,
    &:focus-visible,
    &:focus-visible,
    &:focus-within,
    &:active {
        color: var(--bg);
        background: var(--fg);
        border: 1px solid var(--bg);
    }
}

.loginBtn {
    gap: 0.5rem !important;
    padding-inline: 0.5rem 0.75rem !important;
}


.loginBtnSpan {
    width: 20px;
    height: 20px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--bg);
    background: var(--bg-grd2);
    transition: all 0ms;
}

.loginBtn:hover {
    .loginBtnSpan {
        animation: rotateBg 2s linear infinite alternate;
        background-size: 800%;
    }
}