.courseItemLi {
  background: rgb(243, 243, 243);
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.102);
  gap: 0.75rem;


  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
  background-color: var(--background-color, #fff);
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
  border-radius: 1.5rem;
  overflow: hidden;

  .liTextInfo {
    flex: 1;
    width: 100%;
    gap: .5rem;
  }

  .liHeading {
    font-weight: bold;
    align-content: start;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .liIcon {
    background: conic-gradient(whitesmoke, gainsboro);
    background-size: contain !important;
    width: 350px;
    height: 200px;
    border-radius: 10px;

  }

  .liStat {
    background: rgba(0, 0, 0, 0.083);
    font-size: 0.65rem;
    font-weight: bold;
    display: inline;
    padding: 0.125rem 0.25rem;
    border-radius: 10dvw;
    color: black;
    align-content: start;
  }

  .liDesc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
    font-size: 0.75rem;
  }

  transition: all 150ms;

  &:hover {
    scale: 1.02;
  }

  &:active {
    filter: brightness(0.9);
    scale: 1;

  }


}

.payButton {
  min-width: 100% !important;
  transition: all 150ms;
  border: none;
  padding: 1rem;
  border-radius: 10dvw;
  cursor: pointer;
  background: black;
  color: white;
  font-size: 1.125rem;
}

.courseItemLi:hover .payButton {
  scale: 1.5;
  font-weight: 700;
  transform: translateY(5px);
  background: var(--bg-grd);

}